{include file="public/header" /}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li ><a href="{:url('goods/goodsLists')}">商品管理 </a></li>
        <li><a href="{:url('banner/bannerLists')}">轮播图管理</a></li>
        <li><a href="{:url('user/userLists')}">用户管理</a></li>
        <li class="active"><a href="{:url('attr/attrLists')}">属性管理</a></li>
        <li><a href="http://v3.bootcss.com/examples/dashboard/#">模板</a></li>
      </ul>
      
    </div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">属性管理</h1>
  <div class="table-responsive">


<table  class="table table-striped"> 
    <tr>
        <td>id</td>
        <td>attr_type</td>
        <td>attr_name</td>
        <td>pic</td>
        <td>goods_id</td>
        <td>handle</td>
    </tr>
    {volist name="attr_lists" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.attr_type}</td>
        <td>{$vo.attr_name}</td>    
        <td>{if condition="$vo['pic'] neq ''"}
                <img src="{$vo.pic}" width="50">
            {else /} 无图片
            {/if}</td>
        <td>{$vo.goods_id}</td>
        
        <td>
            <a  class="btn btn-default" href="{:url('attr/update')}?&id={$vo.id}">修改</a><br>
            <a class="btn btn-default"  href="{:url('attr/delete')}?id={$vo.id}">删除</a>
        </td>
    </tr>
    {/volist}
    

</table>


  </div>
</div>

{include file="public/footer" /}