{include file="public/header" /}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="{:url('goods/goodsLists')}">商品管理 </a></li>
        <li><a href="{:url('banner/bannerLists')}">轮播图管理</a></li>
        <li class="active"><a href="{:url('user/userlists')}">用户管理</a></li>
        <li><a href="{:url('attr/attrLists')}">属性管理</a></li>
        <li><a href="http://v3.bootcss.com/examples/dashboard/#">模板</a></li>
      </ul>
      
    </div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">用户管理</h1>
  <div class="table-responsive">
<div>
    <a  class="btn btn-default" href="{:url('user/add')}">注册</a>
</div>


<table  class="table table-striped"> 
    <tr>
        <td>id</td>
        <td>name</td>
        <td>phone</td>
        <td>handle</td>
    </tr>
    {volist name="user_lists" id="vo"}
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.user_name} </a> </td>  
        <td>{$vo.phone}
        </td>
        <td>
            <a  class="btn btn-default" href="{:url('user/reNameUser')}?&id={$vo.id}">修改用户名</a><br>
            <a class="btn btn-default"  href="{:url('user/delete')}?id={$vo.id}">删除</a>
        </td>
    </tr>
    {/volist}
    

</table>


  </div>
</div>

{include file="public/footer" /}